<div class="container">
    <h5>PR</h5>
    <button mat-raised-button (click)="toggleTableRows()" color="primary">Afficher Tout</button>
    <div class="table-container">
        <table mat-table [dataSource]="dataSourcePR" class="example-table" multiTemplateDataRows>
          <!--Column code_pr-->
          <ng-container matColumnDef="code_pr">
            <th mat-header-cell *matHeaderCellDef>Code Pr</th>
            <td mat-cell *matCellDef="let row">{{row.code_pr}}</td>
          </ng-container>
          <!--Column code_achat-->
          <ng-container matColumnDef="code_achat">
            <th mat-header-cell *matHeaderCellDef>Code achat</th>
            <td mat-cell *matCellDef="let row">{{row.code_achat}}</td>
          </ng-container>
          <!--Column nom-->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef>Nom</th>
            <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
          </ng-container>
          <!--Column sexe-->
          <ng-container matColumnDef="sexe">
            <th mat-header-cell *matHeaderCellDef>Sexe</th>
            <td mat-cell *matCellDef="let row">{{row.sexe}}</td>
          </ng-container>
          <!--Column surnom-->
          <ng-container matColumnDef="surnom">
            <th mat-header-cell *matHeaderCellDef>Surnom</th>
            <td mat-cell *matCellDef="let row">{{row.surnom}}</td>
          </ng-container>
          <!--Column cin-->
          <ng-container matColumnDef="cin">
            <th mat-header-cell *matHeaderCellDef>CIN</th>
            <td mat-cell *matCellDef="let row">{{row.cin}}</td>
          </ng-container>
          <!--Column commune-->
          <ng-container matColumnDef="commune">
            <th mat-header-cell *matHeaderCellDef>Commune</th>
            <td mat-cell *matCellDef="let row">{{row.commune}}</td>
          </ng-container>
          <!--Column fokontany-->
          <ng-container matColumnDef="fokontany">
            <th mat-header-cell *matHeaderCellDef>Fokontany</th>
            <td mat-cell *matCellDef="let row">{{row.fokontany}}</td>
          </ng-container>
          <!--Column Action-->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button class="btn-info btn-dimension" (click)="element.isExpanded = !element.isExpanded">suivi</button>
            </td>
          </ng-container>
          <!-- Template for details row -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsPR.length">
  
              <div class="row sv-element-detail" [@detailExpand]="element.isExpanded && element.cep_pr.length > 0? 'expanded' : 'collapsed'">
                <table mat-table [dataSource]="element.cep_pr">
                  <!--Column code_parce-->
                  <ng-container matColumnDef="code_parce">
                    <th mat-header-cell *matHeaderCellDef>Code parce</th>
                    <td mat-cell *matCellDef="let row">{{row.code_parce}}</td>
                  </ng-container>
                  <!--Column bloc-->
                  <ng-container matColumnDef="bloc">
                    <th mat-header-cell *matHeaderCellDef>Bloc</th>
                    <td mat-cell *matCellDef="let row">{{row.bloc_cep}}</td>
                  </ng-container>
                  <!--Column ref_gps-->
                  <ng-container matColumnDef="ref_gps">
                    <th mat-header-cell *matHeaderCellDef>ref_gps</th>
                    <td mat-cell *matCellDef="let row">{{row.ref_gps}}</td>
                  </ng-container>
                  <!--Column lat-->
                  <ng-container matColumnDef="lat">
                    <th mat-header-cell *matHeaderCellDef>Latitude</th>
                    <td mat-cell *matCellDef="let row">{{row.lat}}</td>
                  </ng-container>
                  <!--Column log-->
                  <ng-container matColumnDef="log">
                    <th mat-header-cell *matHeaderCellDef>Log</th>
                    <td mat-cell *matCellDef="let row">{{row.log}}</td>
                  </ng-container>
                  <!--Column superficie-->
                  <ng-container matColumnDef="superficie">
                    <th mat-header-cell *matHeaderCellDef>Superficie</th>
                    <td mat-cell *matCellDef="let row">{{row.superficie}}</td>
                  </ng-container>
                  <!--Column commune-->
                  <ng-container matColumnDef="commune">
                    <th mat-header-cell *matHeaderCellDef>Commune</th>
                    <td mat-cell *matCellDef="let row">{{row.commune}}</td>
                  </ng-container>
                  <!--Column fokontany-->
                  <ng-container matColumnDef="fokontany">
                    <th mat-header-cell *matHeaderCellDef>Fokontany</th>
                    <td mat-cell *matCellDef="let row">{{row.fokontany}}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsParce" class="hg-header-row-2"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsParce;" class="hg-element-row"></tr>
                </table>
              </div>
              <div class="row sv-element-detail-vide" [@detailExpand]="element.isExpanded && element.cep_pr.length == 0? 'expanded' : 'collapsed'">
                <div mat-line>Aucun champs Ecole Enregistrer pour PR {{element.code_pr}}</div>
              </div>
  
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsPR" class="hg-header-row-1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsPR;" class="sv-element-row hg-element-row" [class.sv-expanded-row]="row.isExpanded" [class.sv-row-vide]="row.cep_pr.length == 0"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumnsPR.length">Aucun enregistrement</td>
          </tr>
        </table>
      </div>
</div>
