<div class="container">
    <h5>MEP SG</h5>
    <button mat-raised-button (click)="toggleTableRows({src: 'mep-sg'})" color="primary">Toggle Rows</button>
    <div class="table-container">
      <table mat-table [dataSource]="dataSourceMepSg" class="example-table" multiTemplateDataRows>
        <!--Column Code MEP-->
        <ng-container matColumnDef="code_mep">
          <th mat-header-cell *matHeaderCellDef>code_MEP</th>
          <td mat-cell *matCellDef="let row">{{row.code_culture}}</td>
        </ng-container>
        <!--Column Annee-->
        <ng-container matColumnDef="annee">
          <th mat-header-cell *matHeaderCellDef>Annee</th>
          <td mat-cell *matCellDef="let row">{{row.annee_du}}</td>
        </ng-container>
        <!--Column Saison-->
        <ng-container matColumnDef="saison">
          <th mat-header-cell *matHeaderCellDef>Saison</th>
          <td mat-cell *matCellDef="let row">{{row.saison}}</td>
        </ng-container>
        <!--Column Bloc-->
        <ng-container matColumnDef="bloc">
          <th mat-header-cell *matHeaderCellDef>Bloc</th>
          <td mat-cell *matCellDef="let row">{{row.bloc}}</td>
        </ng-container>
        <!--Column Code parcelle-->
        <ng-container matColumnDef="code_parce">
          <th mat-header-cell *matHeaderCellDef>Code parce</th>
          <td mat-cell *matCellDef="let row">{{row.id_parce}}</td>
        </ng-container>
        <!--Column Surface reel-->
        <ng-container matColumnDef="sfce_reel">
          <th mat-header-cell *matHeaderCellDef>sfce_reel</th>
          <td mat-cell *matCellDef="let row">{{row.sfce_reel}}</td>
        </ng-container>
        <!--Column code_benef-->
        <ng-container matColumnDef="code_benef">
          <th mat-header-cell *matHeaderCellDef>code_benef</th>
          <td mat-cell *matCellDef="let row">{{row.code_benef_bl}}</td>
        </ng-container>
        <!--Column nom-->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
        </ng-container>
        <!--Column DDP-->
        <ng-container matColumnDef="ddp">
          <th mat-header-cell *matHeaderCellDef>DDP</th>
          <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
        </ng-container>

        <!--Column Variette-->
        <ng-container matColumnDef="variette">
          <th mat-header-cell *matHeaderCellDef>Variette</th>
          <td mat-cell *matCellDef="let row">{{row.variette}}</td>
        </ng-container>
        <!--Column QSO-->
        <ng-container matColumnDef="qso">
          <th mat-header-cell *matHeaderCellDef>QSO</th>
          <td mat-cell *matCellDef="let row">{{row.qso}}</td>
        </ng-container>
        <!--Column DDS-->
        <ng-container matColumnDef="dds">
          <th mat-header-cell *matHeaderCellDef>DDS</th>
          <td mat-cell *matCellDef="let row">{{row.dds | customDate}}</td>
        </ng-container>
        <!--Column Sfce-->
        <ng-container matColumnDef="sfce_embl">
          <th mat-header-cell *matHeaderCellDef>Sfce</th>
          <td mat-cell *matCellDef="let row">{{row.sfce}}</td>
        </ng-container>
        <!--Column Système cultural-->
        <ng-container matColumnDef="sc">
          <th mat-header-cell *matHeaderCellDef>SC</th>
          <td mat-cell *matCellDef="let row">{{row.sc}}</td>
        </ng-container>
        <!--Column Système cultural-->
        <ng-container matColumnDef="ea">
          <th mat-header-cell *matHeaderCellDef>EA</th>
          <td mat-cell *matCellDef="let row">{{row.ea}}</td>
        </ng-container>
        <!--Column Système cultural-->
        <ng-container matColumnDef="etat">
          <th mat-header-cell *matHeaderCellDef>Etat</th>
          <td mat-cell *matCellDef="let row">{{row.etat}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-flat-button class="btn-info btn-dimension" (click)="element.isExpanded = !element.isExpanded">suivi</button>
          </td>
        </ng-container>
        <!-- Template for details row -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsMepSg.length">

            <div class="row sv-element-detail" [@detailExpand]="element.isExpanded && element.suivimep_others.length > 0? 'expanded' : 'collapsed'">
              <table mat-table [dataSource]="element.suivimep_others">
                <!--Column DDP-->
                <ng-container matColumnDef="ddp">
                  <th mat-header-cell *matHeaderCellDef>DDP</th>
                  <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
                </ng-container>
                <!--Column Stc-->
                <ng-container matColumnDef="stc">
                  <th mat-header-cell *matHeaderCellDef>STC</th>
                  <td mat-cell *matCellDef="let row">{{row.stc}}</td>
                </ng-container>
                <!--Column Stc-->
                <ng-container matColumnDef="long_ligne">
                  <th mat-header-cell *matHeaderCellDef>Long ligne</th>
                  <td mat-cell *matCellDef="let row">{{row.long_ligne}}</td>
                </ng-container>
                <!--Column Stc-->
                <ng-container matColumnDef="nbre_ligne">
                  <th mat-header-cell *matHeaderCellDef>Nbre ligne</th>
                  <td mat-cell *matCellDef="let row">{{row.nbre_ligne}}</td>
                </ng-container>
                <!--Column img-->
                <ng-container matColumnDef="img">
                  <th mat-header-cell *matHeaderCellDef>Pièce</th>
                  <td mat-cell *matCellDef="let row">
                    <img [src]="row.img_cult" alt="" class="img-cell">
                  </td>
                </ng-container>
                <!--Column img-->
                <ng-container matColumnDef="ex">
                  <th mat-header-cell *matHeaderCellDef>Estimation</th>
                  <td mat-cell *matCellDef="let row">{{row.ex}}</td>
                </ng-container>
                <!--Column Système cultural-->
                <ng-container matColumnDef="etat">
                  <th mat-header-cell *matHeaderCellDef>Etat</th>
                  <td mat-cell *matCellDef="let row">{{row.etat_sv}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsSvSg" class="hg-header-row-2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsSvSg;" class="hg-element-row"></tr>
              </table>
            </div>
            <div class="row sv-element-detail-vide" [@detailExpand]="element.isExpanded && element.suivimep_others.length == 0? 'expanded' : 'collapsed'">
              <div mat-line>Aucun suivi</div>
            </div>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsMepSg" class="hg-header-row-1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMepSg;" class="sv-element-row hg-element-row" [class.sv-expanded-row]="row.isExpanded" [class.sv-row-vide]="row.suivimep_others.length == 0"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumnsMepSg.length">Aucun enregistrement</td>
        </tr>
      </table>
    </div>
  <!--new Mep SG-->
  <div class="table-container">
    <h5>New MEP SG************</h5>
    <table mat-table [dataSource]="dataSourceNewMepSg" class="example-table">
      <!--Column Code MEP-->
      <ng-container matColumnDef="code_mep">
        <th mat-header-cell *matHeaderCellDef>code_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.code_culture}}</td>
      </ng-container>
      <!--Column Annee-->
      <ng-container matColumnDef="annee">
        <th mat-header-cell *matHeaderCellDef>Annee</th>
        <td mat-cell *matCellDef="let row">{{row.annee_du}}</td>
      </ng-container>
      <!--Column Saison-->
      <ng-container matColumnDef="saison">
        <th mat-header-cell *matHeaderCellDef>Saison</th>
        <td mat-cell *matCellDef="let row">{{row.saison}}</td>
      </ng-container>
      <!--Column Bloc-->
      <ng-container matColumnDef="bloc">
        <th mat-header-cell *matHeaderCellDef>Bloc</th>
        <td mat-cell *matCellDef="let row">{{row.bloc}}</td>
      </ng-container>
      <!--Column Code parcelle-->
      <ng-container matColumnDef="code_parce">
        <th mat-header-cell *matHeaderCellDef>Code parce</th>
        <td mat-cell *matCellDef="let row">{{row.id_parce}}</td>
      </ng-container>
      <!--Column Surface reel-->
      <ng-container matColumnDef="sfce_reel">
        <th mat-header-cell *matHeaderCellDef>sfce_reel</th>
        <td mat-cell *matCellDef="let row">{{row.sfce_reel}}</td>
      </ng-container>
      <!--Column code_benef-->
      <ng-container matColumnDef="code_benef">
        <th mat-header-cell *matHeaderCellDef>code_benef</th>
        <td mat-cell *matCellDef="let row">{{row.code_benef_bl}}</td>
      </ng-container>
      <!--Column nom-->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
      </ng-container>
      <!--Column DDP-->
      <ng-container matColumnDef="ddp">
        <th mat-header-cell *matHeaderCellDef>DDP</th>
        <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
      </ng-container>

      <!--Column Variette-->
      <ng-container matColumnDef="variette">
        <th mat-header-cell *matHeaderCellDef>Variette</th>
        <td mat-cell *matCellDef="let row">{{row.variette}}</td>
      </ng-container>
       <!--Column QSO-->
      <ng-container matColumnDef="qso">
        <th mat-header-cell *matHeaderCellDef>QSO</th>
        <td mat-cell *matCellDef="let row">{{row.qso}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dds">
        <th mat-header-cell *matHeaderCellDef>DDS</th>
        <td mat-cell *matCellDef="let row">{{row.dds | customDate}}</td>
      </ng-container>
      <!--Column Sfce-->
      <ng-container matColumnDef="sfce_embl">
        <th mat-header-cell *matHeaderCellDef>Sfce</th>
        <td mat-cell *matCellDef="let row">{{row.sfce}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="sc">
        <th mat-header-cell *matHeaderCellDef>SC</th>
        <td mat-cell *matCellDef="let row">{{row.sc}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="ea">
        <th mat-header-cell *matHeaderCellDef>EA</th>
        <td mat-cell *matCellDef="let row">{{row.ea}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef>Etat</th>
        <td mat-cell *matCellDef="let row">{{row.etat}}</td>
      </ng-container>
      <!--Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button class="btn-success">valider</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsNewMepSg"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsNewMepSg;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="12">Aucun enregistrement</td>
      </tr>
    </table>
  </div>
  <!--New Suivi SG-->
  <div class="table-container">
    <h5>New Suivi SG++++++++++++</h5>
    <table mat-table [dataSource]="dataSourceNewSvSg" class="example-table">
      <!--Column Code MEP-->
      <ng-container matColumnDef="code_sv">
        <th mat-header-cell *matHeaderCellDef>code Suivi</th>
        <td mat-cell *matCellDef="let row">{{row.code_sv}}</td>
      </ng-container>
      <!--Column Bloc-->
      <ng-container matColumnDef="bloc">
        <th mat-header-cell *matHeaderCellDef>Bloc</th>
        <td mat-cell *matCellDef="let row">{{row.bloc}}</td>
      </ng-container>
      <!--Column Code parcelle-->
      <ng-container matColumnDef="parcelle">
        <th mat-header-cell *matHeaderCellDef>Parcelle</th>
        <td mat-cell *matCellDef="let row">{{row.code_parce}}</td>
      </ng-container>
      <!--Column code_benef-->
      <ng-container matColumnDef="code_benef">
        <th mat-header-cell *matHeaderCellDef>code_benef</th>
        <td mat-cell *matCellDef="let row">{{row.code_benef_bl}}</td>
      </ng-container>
      <!--Column nom-->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
      </ng-container>

      <!--Column Variette-->
      <ng-container matColumnDef="variette">
        <th mat-header-cell *matHeaderCellDef>Variette</th>
        <td mat-cell *matCellDef="let row">{{row.variette}}</td>
      </ng-container>
       <!--Column QSO-->
      <ng-container matColumnDef="qso">
        <th mat-header-cell *matHeaderCellDef>QSO</th>
        <td mat-cell *matCellDef="let row">{{row.qso}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dds">
        <th mat-header-cell *matHeaderCellDef>DDS</th>
        <td mat-cell *matCellDef="let row">{{row.dds | customDate}}</td>
      </ng-container>
      <!--Column Sfce-->
      <ng-container matColumnDef="sfce_embl">
        <th mat-header-cell *matHeaderCellDef>Sfce</th>
        <td mat-cell *matCellDef="let row">{{row.sfce_emblavee}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="sc">
        <th mat-header-cell *matHeaderCellDef>SC</th>
        <td mat-cell *matCellDef="let row">{{row.sc}}</td>
      </ng-container>
      <!--Column DDP-->
      <ng-container matColumnDef="ddp">
        <th mat-header-cell *matHeaderCellDef>DDP</th>
        <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
      </ng-container>
      <!--Column Stc-->
      <ng-container matColumnDef="stc">
        <th mat-header-cell *matHeaderCellDef>STC</th>
        <td mat-cell *matCellDef="let row">{{row.stc}}</td>
      </ng-container>
      <!--Column Stc-->
      <ng-container matColumnDef="long_ligne">
        <th mat-header-cell *matHeaderCellDef>Long ligne</th>
        <td mat-cell *matCellDef="let row">{{row.long_ligne}}</td>
      </ng-container>
      <!--Column Stc-->
      <ng-container matColumnDef="nbre_ligne">
        <th mat-header-cell *matHeaderCellDef>Nbre ligne</th>
        <td mat-cell *matCellDef="let row">{{row.nbre_ligne}}</td>
      </ng-container>
      <!--Column img-->
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef>Pièce</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.img_cult" alt="" class="img-cell">
        </td>
      </ng-container>
      <!--Column img-->
      <ng-container matColumnDef="ex">
        <th mat-header-cell *matHeaderCellDef>Estimation</th>
        <td mat-cell *matCellDef="let row">{{row.ex}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef>Etat</th>
        <td mat-cell *matCellDef="let row">{{row.etat}}</td>
      </ng-container>
      <!--Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button class="btn-success">valider</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsNewSvSg"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsNewSvSg;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="12">Aucun enregistrement</td>
      </tr>
    </table>
  </div>
  <!--MEP PA container-->
  <div class="table-container">
    <h5>MEP PA</h5>
    <table mat-table [dataSource]="dataSourceMepPa" class="example-table" multiTemplateDataRows>
      <!--Column Code MEP-->
      <ng-container matColumnDef="code_mep">
        <th mat-header-cell *matHeaderCellDef>code_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.code_culture}}</td>
      </ng-container>
      <!--Annee-->
      <ng-container matColumnDef="annee">
        <th mat-header-cell *matHeaderCellDef>Annee</th>
        <td mat-cell *matCellDef="let row">{{row.annee_du}}</td>
      </ng-container>
      <!--Column Bloc-->
      <ng-container matColumnDef="bloc">
        <th mat-header-cell *matHeaderCellDef>Bloc</th>
        <td mat-cell *matCellDef="let row">{{row.bloc}}</td>
      </ng-container>
      <!--Column Code parcelle-->
      <ng-container matColumnDef="code_parce">
        <th mat-header-cell *matHeaderCellDef>Code parce</th>
        <td mat-cell *matCellDef="let row">{{row.id_parce}}</td>
      </ng-container>
      <!--Column Surface reel-->
      <ng-container matColumnDef="sfce_reel">
        <th mat-header-cell *matHeaderCellDef>sfce_reel</th>
        <td mat-cell *matCellDef="let row">{{row.sfce_reel}}</td>
      </ng-container>
      <!--Column code_benef-->
      <ng-container matColumnDef="code_benef">
        <th mat-header-cell *matHeaderCellDef>code_benef</th>
        <td mat-cell *matCellDef="let row">{{row.code_benef_bl}}</td>
      </ng-container>
      <!--Column nom-->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
      </ng-container>
      <!--Column DDP-->
      <ng-container matColumnDef="ddp">
        <th mat-header-cell *matHeaderCellDef>DDP</th>
        <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
      </ng-container>

      <!--Column Espece-->
      <ng-container matColumnDef="espece">
        <th mat-header-cell *matHeaderCellDef>Espece</th>
        <td mat-cell *matCellDef="let row">{{row.espece}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dt_dist">
        <th mat-header-cell *matHeaderCellDef>Dt_Dist</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>
       <!--Column QSO-->
      <ng-container matColumnDef="qso">
        <th mat-header-cell *matHeaderCellDef>QO</th>
        <td mat-cell *matCellDef="let row">{{row.qso}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dds">
        <th mat-header-cell *matHeaderCellDef>Dt_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.dds | customDate}}</td>
      </ng-container>
      <!--Column Sfce-->
      <ng-container matColumnDef="nbre_ligne">
        <th mat-header-cell *matHeaderCellDef>nbre_ligne</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="long_ligne">
        <th mat-header-cell *matHeaderCellDef>Long Ligne</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>

      <!--Column Système cultural-->
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef>Etat</th>
        <td mat-cell *matCellDef="let row">{{row.etat}}</td>
      </ng-container>
      <!--Action-->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button class="btn-info" (click)="element.isExpanded = !element.isExpanded">suivi</button>
        </td>
      </ng-container>
      
      <!-- Template for details row -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsMepPa.length">

          <div class="row sv-element-detail" [@detailExpand]="element.isExpanded && element.suivimep_others.length > 0? 'expanded' : 'collapsed'">
            <table mat-table [dataSource]="element.suivimep_others">
              <!--Column Code MEP-->
              <ng-container matColumnDef="code_sv">
                <th mat-header-cell *matHeaderCellDef>code DDP</th>
                <td mat-cell *matCellDef="let row">{{row.code_sv}}</td>
              </ng-container>
              <!--Column DDP-->
              <ng-container matColumnDef="ddp">
                <th mat-header-cell *matHeaderCellDef>DDP</th>
                <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
              </ng-container>
              <!--Column Quantité Lévéé-->
              <ng-container matColumnDef="ql">
                <th mat-header-cell *matHeaderCellDef>QL</th>
                <td mat-cell *matCellDef="let row">{{row.ql}}</td>
              </ng-container>
              <!--Column Quantité réussi-->
              <ng-container matColumnDef="qr">
                <th mat-header-cell *matHeaderCellDef>QR</th>
                <td mat-cell *matCellDef="let row">{{row.qr}}</td>
              </ng-container>
              <!--Column Hauteur-->
              <ng-container matColumnDef="hauteur">
                <th mat-header-cell *matHeaderCellDef>Hauteur</th>
                <td mat-cell *matCellDef="let row"></td>
              </ng-container>
              <!--Column Etat de la pa-->
              <ng-container matColumnDef="etat_pa">
                <th mat-header-cell *matHeaderCellDef>Etat_pa</th>
                <td mat-cell *matCellDef="let row"></td>
              </ng-container>
              <!--Column Etat dans la bdd-->
              <ng-container matColumnDef="etat">
                <th mat-header-cell *matHeaderCellDef>Etat</th>
                <td mat-cell *matCellDef="let row">{{row.etat_sv}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsSvSvPa" class="hg-header-row-2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsSvSvPa;" class="hg-element-row"></tr>
            </table>
          </div>
          <div class="row sv-element-detail-vide" [@detailExpand]="element.isExpanded && element.suivimep_others.length == 0? 'expanded' : 'collapsed'">
            <div mat-line>Aucun suivi</div>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsMepPa" class="hg-header-row-1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMepPa;" class="sv-element-row hg-element-row" class="sv-element-row hg-element-row" [class.sv-expanded-row]="row.isExpanded" [class.sv-row-vide]="row.suivimep_others.length == 0"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumnsMepPa.length">Aucun enregistrement</td>
      </tr>
    </table>
  </div>
  <!--New MEP PA Container-->
  <div class="table-container">
    <h5>New MEP PA************</h5>
    <table mat-table [dataSource]="dataSourceNewMepPa" class="example-table">
      <!--Column Code MEP-->
      <ng-container matColumnDef="code_mep">
        <th mat-header-cell *matHeaderCellDef>code_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.code_culture}}</td>
      </ng-container>
      <!--Column Annee-->
      <ng-container matColumnDef="annee">
        <th mat-header-cell *matHeaderCellDef>Annee</th>
        <td mat-cell *matCellDef="let row">{{row.annee_du}}</td>
      </ng-container>
      <!--Column Bloc-->
      <ng-container matColumnDef="bloc">
        <th mat-header-cell *matHeaderCellDef>Bloc</th>
        <td mat-cell *matCellDef="let row">{{row.bloc}}</td>
      </ng-container>
      <!--Column Code parcelle-->
      <ng-container matColumnDef="code_parce">
        <th mat-header-cell *matHeaderCellDef>Code parce</th>
        <td mat-cell *matCellDef="let row">{{row.id_parce}}</td>
      </ng-container>
      <!--Column Surface reel-->
      <ng-container matColumnDef="sfce_reel">
        <th mat-header-cell *matHeaderCellDef>sfce_reel</th>
        <td mat-cell *matCellDef="let row">{{row.sfce_reel}}</td>
      </ng-container>
      <!--Column code_benef-->
      <ng-container matColumnDef="code_benef">
        <th mat-header-cell *matHeaderCellDef>code_benef</th>
        <td mat-cell *matCellDef="let row">{{row.code_benef_bl}}</td>
      </ng-container>
      <!--Column nom-->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
      </ng-container>
      <!--Column DDP-->
      <ng-container matColumnDef="ddp">
        <th mat-header-cell *matHeaderCellDef>DDP</th>
        <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
      </ng-container>

      <!--Column Espece-->
      <ng-container matColumnDef="espece">
        <th mat-header-cell *matHeaderCellDef>Espece</th>
        <td mat-cell *matCellDef="let row">{{row.espece}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dt_dist">
        <th mat-header-cell *matHeaderCellDef>Dt_Dist</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>
       <!--Column QSO-->
      <ng-container matColumnDef="qso">
        <th mat-header-cell *matHeaderCellDef>QO</th>
        <td mat-cell *matCellDef="let row">{{row.qso}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dds">
        <th mat-header-cell *matHeaderCellDef>Dt_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.dds | customDate}}</td>
      </ng-container>
      <!--Column Sfce-->
      <ng-container matColumnDef="nbre_ligne">
        <th mat-header-cell *matHeaderCellDef>nbre_ligne</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="long_ligne">
        <th mat-header-cell *matHeaderCellDef>Long Ligne</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>

      <!--Column Système cultural-->
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef>Etat</th>
        <td mat-cell *matCellDef="let row">{{row.etat}}</td>
      </ng-container>
      <!--Action Système cultural-->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button class="btn-success">valider</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsNewMepPa"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsNewMepPa;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="12">Aucun enregistrement</td>
      </tr>
    </table>
  </div>
  <!--New Suivi PA-->
  <div class="table-container">
    <h5>New Suivi PA++++++++++++</h5>
    <table mat-table [dataSource]="dataSourceNewSvPa" class="example-table">
      <!--Column Code MEP-->
      <ng-container matColumnDef="code_sv">
        <th mat-header-cell *matHeaderCellDef>code DDP</th>
        <td mat-cell *matCellDef="let row">{{row.code_sv}}</td>
      </ng-container>
      <!--Column Bloc-->
      <ng-container matColumnDef="bloc">
        <th mat-header-cell *matHeaderCellDef>Bloc</th>
        <td mat-cell *matCellDef="let row">{{row.bloc}}</td>
      </ng-container>
      <!--Column Code parcelle-->
      <ng-container matColumnDef="parcelle">
        <th mat-header-cell *matHeaderCellDef>Parcelle</th>
        <td mat-cell *matCellDef="let row">{{row.code_parce}}</td>
      </ng-container>
      <!--Column code_benef-->
      <ng-container matColumnDef="code_benef">
        <th mat-header-cell *matHeaderCellDef>code_benef</th>
        <td mat-cell *matCellDef="let row">{{row.code_benef_bl}}</td>
      </ng-container>
      <!--Column nom-->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
      </ng-container>
      <!--Column Espece-->
      <ng-container matColumnDef="espece">
        <th mat-header-cell *matHeaderCellDef>Espece</th>
        <td mat-cell *matCellDef="let row">{{row.espece}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dt_dist">
        <th mat-header-cell *matHeaderCellDef>Dt_Dist</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>
       <!--Column QSO-->
      <ng-container matColumnDef="qso">
        <th mat-header-cell *matHeaderCellDef>QO</th>
        <td mat-cell *matCellDef="let row">{{row.qso}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dds">
        <th mat-header-cell *matHeaderCellDef>Dt_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.dds | customDate}}</td>
      </ng-container>
      <!--Column Sfce-->
      <ng-container matColumnDef="nbre_ligne">
        <th mat-header-cell *matHeaderCellDef>nbre_ligne</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="long_ligne">
        <th mat-header-cell *matHeaderCellDef>Long Ligne</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>
      <!--Column DDP-->
      <ng-container matColumnDef="ddp">
        <th mat-header-cell *matHeaderCellDef>DDP</th>
        <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
      </ng-container>
      <!--Column Quantité Lévéé-->
      <ng-container matColumnDef="ql">
        <th mat-header-cell *matHeaderCellDef>QL</th>
        <td mat-cell *matCellDef="let row">{{row.ql}}</td>
      </ng-container>
      <!--Column Quantité réussi-->
      <ng-container matColumnDef="qr">
        <th mat-header-cell *matHeaderCellDef>QR</th>
        <td mat-cell *matCellDef="let row">{{row.qr}}</td>
      </ng-container>
      <!--Column Hauteur-->
      <ng-container matColumnDef="hauteur">
        <th mat-header-cell *matHeaderCellDef>Hauteur</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>
      <!--Column Etat de la pa-->
      <ng-container matColumnDef="etat_pa">
        <th mat-header-cell *matHeaderCellDef>Etat_pa</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>
      <!--Column Etat dans la bdd-->
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef>Etat</th>
        <td mat-cell *matCellDef="let row">{{row.etat}}</td>
      </ng-container>
      <!--Action Système cultural-->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button class="btn-success">valider</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsNewSvPa"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsNewSvPa;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="12">Aucun enregistrement</td>
      </tr>
    </table>
  </div>

  <!--MEP MV -->
  <div class="table-container">
    <h5>MEP MV</h5>
    <table mat-table [dataSource]="dataSourceMepMv" class="example-table" multiTemplateDataRows>
      <!--Column Code MEP-->
      <ng-container matColumnDef="code_mep">
        <th mat-header-cell *matHeaderCellDef>code_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.code_culture}}</td>
      </ng-container>
      <!--Annee -->
      <ng-container matColumnDef="annee">
        <th mat-header-cell *matHeaderCellDef>Annee</th>
        <td mat-cell *matCellDef="let row">{{row.annee_du}}</td>
      </ng-container>
      <!--Column Bloc-->
      <ng-container matColumnDef="bloc">
        <th mat-header-cell *matHeaderCellDef>Bloc</th>
        <td mat-cell *matCellDef="let row">{{row.bloc}}</td>
      </ng-container>
      <!--Column Code parcelle-->
      <ng-container matColumnDef="code_parce">
        <th mat-header-cell *matHeaderCellDef>Code parce</th>
        <td mat-cell *matCellDef="let row">{{row.id_parce}}</td>
      </ng-container>
      <!--Column Surface reel-->
      <ng-container matColumnDef="sfce_reel">
        <th mat-header-cell *matHeaderCellDef>sfce_reel</th>
        <td mat-cell *matCellDef="let row">{{row.sfce_reel}}</td>
      </ng-container>
      <!--Column code_benef-->
      <ng-container matColumnDef="code_benef">
        <th mat-header-cell *matHeaderCellDef>code_benef</th>
        <td mat-cell *matCellDef="let row">{{row.code_benef_bl}}</td>
      </ng-container>
      <!--Column nom-->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
      </ng-container>
      <!--Column DDP-->
      <ng-container matColumnDef="ddp">
        <th mat-header-cell *matHeaderCellDef>DDP</th>
        <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
      </ng-container>

      <!--Column Espece-->
      <ng-container matColumnDef="espece">
        <th mat-header-cell *matHeaderCellDef>Espece</th>
        <td mat-cell *matCellDef="let row">{{row.espece}}</td>
      </ng-container>

       <!--Column QSO-->
      <ng-container matColumnDef="qso">
        <th mat-header-cell *matHeaderCellDef>QO</th>
        <td mat-cell *matCellDef="let row">{{row.qso}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dds">
        <th mat-header-cell *matHeaderCellDef>Dt_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.dds | customDate}}</td>
      </ng-container>
      
      <!--Column Sfce-->
      <ng-container matColumnDef="sfce_embl">
        <th mat-header-cell *matHeaderCellDef>Sfce</th>
        <td mat-cell *matCellDef="let row">{{row.sfce}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="sc">
        <th mat-header-cell *matHeaderCellDef>SC</th>
        <td mat-cell *matCellDef="let row">{{row.sc}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="ea">
        <th mat-header-cell *matHeaderCellDef>EA</th>
        <td mat-cell *matCellDef="let row">{{row.ea}}</td>
      </ng-container>

      <!--Column Système cultural-->
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef>Etat</th>
        <td mat-cell *matCellDef="let row">{{row.etat}}</td>
      </ng-container>
      <!--Action-->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button class="btn-info" (click)="element.isExpanded = !element.isExpanded">suivi</button>
        </td>
      </ng-container>

      <!-- Template for details row -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsMepPa.length">

          <div class="row sv-element-detail" [@detailExpand]="element.isExpanded && element.suivimep_others.length > 0? 'expanded' : 'collapsed'">
            <table mat-table [dataSource]="element.suivimep_others">
              <!--Column Code MEP-->
              <ng-container matColumnDef="code_sv">
                <th mat-header-cell *matHeaderCellDef>code DDP</th>
                <td mat-cell *matCellDef="let row">{{row.code_sv}}</td>
              </ng-container>
              <!--Column DDP-->
              <ng-container matColumnDef="ddp">
                <th mat-header-cell *matHeaderCellDef>DDP</th>
                <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
              </ng-container>
              <!--Column nbre_pied-->
              <ng-container matColumnDef="nbre_pied">
                <th mat-header-cell *matHeaderCellDef>nbre_pied</th>
                <td mat-cell *matCellDef="let row">{{row.nbre_pied}}</td>
              </ng-container>
              <!--Column Long_ligne-->
              <ng-container matColumnDef="Long_ligne">
                <th mat-header-cell *matHeaderCellDef>Long_ligne</th>
                <td mat-cell *matCellDef="let row">{{row.long_ligne}}</td>
              </ng-container>
              <!--Column nbre_ligne-->
              <ng-container matColumnDef="nbre_ligne">
                <th mat-header-cell *matHeaderCellDef>nbre_ligne</th>
                <td mat-cell *matCellDef="let row">{{row.nbre_ligne}}</td>
              </ng-container>
              <!--Column Etat dans la bdd-->
              <ng-container matColumnDef="etat">
                <th mat-header-cell *matHeaderCellDef>Etat</th>
                <td mat-cell *matCellDef="let row">{{row.etat_sv}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsSvMv" class="hg-header-row-2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsSvMv;" class="hg-element-row"></tr>
            </table>
          </div>
          <div class="row sv-element-detail-vide" [@detailExpand]="element.isExpanded && element.suivimep_others.length == 0? 'expanded' : 'collapsed'">
            <div mat-line>Aucun suivi</div>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsMepMv" class="hg-header-row-1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMepMv;" class="sv-element-row hg-element-row" [class.sv-expanded-row]="row.isExpanded" [class.sv-row-vide]="row.suivimep_others.length == 0"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="12">Aucun enregistrement</td>
      </tr>
    </table>
  </div>
  <!--New MEP MV-->
  <div class="table-container">
    <h5>NEW MEP MV************</h5>
    <table mat-table [dataSource]="dataSourceNewMepMv" class="example-table">
      <!--Column Code MEP-->
      <ng-container matColumnDef="code_mep">
        <th mat-header-cell *matHeaderCellDef>code_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.code_culture}}</td>
      </ng-container>
      <!--Column Annee-->
      <ng-container matColumnDef="annee">
        <th mat-header-cell *matHeaderCellDef>Annee</th>
        <td mat-cell *matCellDef="let row">{{row.annee_du}}</td>
      </ng-container>
      <!--Column Bloc-->
      <ng-container matColumnDef="bloc">
        <th mat-header-cell *matHeaderCellDef>Bloc</th>
        <td mat-cell *matCellDef="let row">{{row.bloc}}</td>
      </ng-container>
      <!--Column Code parcelle-->
      <ng-container matColumnDef="code_parce">
        <th mat-header-cell *matHeaderCellDef>Code parce</th>
        <td mat-cell *matCellDef="let row">{{row.id_parce}}</td>
      </ng-container>
      <!--Column Surface reel-->
      <ng-container matColumnDef="sfce_reel">
        <th mat-header-cell *matHeaderCellDef>sfce_reel</th>
        <td mat-cell *matCellDef="let row">{{row.sfce_reel}}</td>
      </ng-container>
      <!--Column code_benef-->
      <ng-container matColumnDef="code_benef">
        <th mat-header-cell *matHeaderCellDef>code_benef</th>
        <td mat-cell *matCellDef="let row">{{row.code_benef_bl}}</td>
      </ng-container>
      <!--Column nom-->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
      </ng-container>
      <!--Column DDP-->
      <ng-container matColumnDef="ddp">
        <th mat-header-cell *matHeaderCellDef>DDP</th>
        <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
      </ng-container>

      <!--Column Espece-->
      <ng-container matColumnDef="espece">
        <th mat-header-cell *matHeaderCellDef>Espece</th>
        <td mat-cell *matCellDef="let row">{{row.espece}}</td>
      </ng-container>

       <!--Column QSO-->
      <ng-container matColumnDef="qso">
        <th mat-header-cell *matHeaderCellDef>QO</th>
        <td mat-cell *matCellDef="let row">{{row.qso}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dds">
        <th mat-header-cell *matHeaderCellDef>Dt_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.dds | customDate}}</td>
      </ng-container>
      
      <!--Column Sfce-->
      <ng-container matColumnDef="sfce_embl">
        <th mat-header-cell *matHeaderCellDef>Sfce</th>
        <td mat-cell *matCellDef="let row">{{row.sfce}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="sc">
        <th mat-header-cell *matHeaderCellDef>SC</th>
        <td mat-cell *matCellDef="let row">{{row.sc}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="ea">
        <th mat-header-cell *matHeaderCellDef>EA</th>
        <td mat-cell *matCellDef="let row">{{row.ea}}</td>
      </ng-container>

      <!--Column Système cultural-->
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef>Etat</th>
        <td mat-cell *matCellDef="let row">{{row.etat}}</td>
      </ng-container>
      <!--Action Système cultural-->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button class="btn-success">valider</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsNewMepMv"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsNewMepMv;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="12">Aucun enregistrement</td>
      </tr>
    </table>
  </div>
  <!--NEW Suivi MV-->
  <div class="table-container">
    <h5>NEW Suivi MV++++++++++++</h5>
    <table mat-table [dataSource]="dataSourceNewSvMv" class="example-table">
      <!--Column Code MEP-->
      <ng-container matColumnDef="code_sv">
        <th mat-header-cell *matHeaderCellDef>code Suivi</th>
        <td mat-cell *matCellDef="let row">{{row.code_sv}}</td>
      </ng-container>
      <!--Column Bloc-->
      <ng-container matColumnDef="bloc">
        <th mat-header-cell *matHeaderCellDef>Bloc</th>
        <td mat-cell *matCellDef="let row">{{row.bloc}}</td>
      </ng-container>
      <!--Column Code parcelle-->
      <ng-container matColumnDef="parcelle">
        <th mat-header-cell *matHeaderCellDef>Parcelle</th>
        <td mat-cell *matCellDef="let row">{{row.code_parce}}</td>
      </ng-container>
      <!--Column code_benef-->
      <ng-container matColumnDef="code_benef">
        <th mat-header-cell *matHeaderCellDef>code_benef</th>
        <td mat-cell *matCellDef="let row">{{row.code_benef_bl}}</td>
      </ng-container>
      <!--Column nom-->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}} {{row.prenom}}</td>
      </ng-container>

      <!--Column Espece-->
      <ng-container matColumnDef="espece">
        <th mat-header-cell *matHeaderCellDef>Espece</th>
        <td mat-cell *matCellDef="let row">{{row.espece}}</td>
      </ng-container>

       <!--Column QSO-->
      <ng-container matColumnDef="qso">
        <th mat-header-cell *matHeaderCellDef>QO</th>
        <td mat-cell *matCellDef="let row">{{row.qso}}</td>
      </ng-container>
      <!--Column DDS-->
      <ng-container matColumnDef="dds">
        <th mat-header-cell *matHeaderCellDef>Dt_MEP</th>
        <td mat-cell *matCellDef="let row">{{row.dds | customDate}}</td>
      </ng-container>
      
      <!--Column Sfce-->
      <ng-container matColumnDef="sfce_embl">
        <th mat-header-cell *matHeaderCellDef>Sfce_emb</th>
        <td mat-cell *matCellDef="let row">{{row.sfce_emblavee}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="sc">
        <th mat-header-cell *matHeaderCellDef>SC</th>
        <td mat-cell *matCellDef="let row">{{row.sc}}</td>
      </ng-container>
      <!--Column DDP-->
      <ng-container matColumnDef="ddp">
        <th mat-header-cell *matHeaderCellDef>DDP</th>
        <td mat-cell *matCellDef="let row">{{row.ddp | customDate}}</td>
      </ng-container>
      <!--Column nbre_pied-->
      <ng-container matColumnDef="nbre_pied">
        <th mat-header-cell *matHeaderCellDef>nbre_pied</th>
        <td mat-cell *matCellDef="let row">{{row.nbre_pied}}</td>
      </ng-container>
      <!--Column Long_ligne-->
      <ng-container matColumnDef="Long_ligne">
        <th mat-header-cell *matHeaderCellDef>Long_ligne</th>
        <td mat-cell *matCellDef="let row">{{row.long_ligne}}</td>
      </ng-container>
      <!--Column nbre_ligne-->
      <ng-container matColumnDef="nbre_ligne">
        <th mat-header-cell *matHeaderCellDef>nbre_ligne</th>
        <td mat-cell *matCellDef="let row">{{row.nbre_ligne}}</td>
      </ng-container>
      <!--Column Système cultural-->
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef>Etat</th>
        <td mat-cell *matCellDef="let row">{{row.etat}}</td>
      </ng-container>
      <!--Action Système cultural-->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-flat-button class="btn-success">valider</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsNewSvMv"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsNewSvMv;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="12">Aucun enregistrement</td>
      </tr>
    </table>
  </div>

</div>
